@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  
  margin: 0;
  padding: 0;
}

/* NAVBAR */
html {
  font-size: 16px;
}

body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
}

/* NavBar */
.navbar {
  font-family: 'KoHo', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5em;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
  padding: 1em 1.2em;
  border: 3px solid transparent;
  border-radius: 12px;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, #592EF2, #BDAEF2) border-box;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
}

.logo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: purple;
  z-index: -1;
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  color: white;
  background: linear-gradient(#592EF2, #9D85F2) padding-box;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 10px;
  position: relative;
}

.nav-item::after {
  content: '';
  display: block;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background-color: #BDAEF2;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: bottom 0.3s, background-color 0.3s;
}

.nav-item:hover::after {
  bottom: 0;
  background-color: purple;
}

.nav-item.special::after {
  background-color: purple;
}

.nav-item.premium::after {
  background-color: black;
}

.nav-item.active {
  color: white;
}

/* FORMULÁRIO */
.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 150px; /* espaço para a navbar */
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
  width: 250px;
  margin:8rem 0;
  max-width: 70%;
  min-height: 350px;
  position: relative;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
}

button {
  border: none;
  border-radius: 20px;
  padding: 12px 45px;
  margin-top: 10px;
  background-color: #4e54c8;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button.ghost {
  background-color: transparent;
  border: 2px solid #fff;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: linear-gradient(120deg, #4e54c8, #8f94fb);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}


/* rodape */




/*Caixa roxa que engloba os elementos*/
footer { 
    font-family: "KoHo";
    width: auto;
    background: linear-gradient(to right, #592EF2, #331B8C);
    color: white;

}

/*Elemento filho do footer, serve para alinhamento*/
address{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
}

/*alinhamento individual dos ícones*/
.icon{
    width:3.125rem;
    height:3.125rem;
}

/*Sombra do "ajuda" e "Contato" à direita do footer*/
.text-outline{
    font-family: "KoHo";
    font-weight: 500;
    text-shadow: 
        0em 0em 0.5em black,
        -0em 0em 0.5em black,
        0em -0em 0.5em black,
        -0em -0em 0.5em black,
        0 0 0.5em black;
}

/*Função link dos elementos embaixo do "Ajuda"*/
.link{
    text-decoration: none;
    color:white;
}

/*Faz mudar a cor dos links do "Ajuda"*/
.link:hover{
    text-decoration: underline;
    color: rgb(224, 190, 255);
}

/*Tira a underline dos icones das nossas redes*/
.link-icons{
    text-decoration: none;
}

/*Faz aparecer a underline*/
.link-icons:hover{
    text-decoration: underline;
    color: white;
}

/*Fundo branco e arredondamento do icone do Twitter (fundo transparente, o X fica roxo)*/
.x{
    background-color: white; 
    border-radius: 20%;
}
/*Alinhamento dos elementos da direita*/
.alignment{
    padding-top: 1em;
    padding-inline: 2em;
}

/*Alinhamento dos ícones à esquerda (ícones)*/
.alignment-icons{
    padding-top: 1em;
    padding-inline: 1em;
}

/*
##############################################
############### MEDIA QUERIES ################
##############################################
*/

@media screen and (min-width: 1400px){
    html{
        font-size:18px;
    }
}

@media screen and (max-width: 1000px){
    html{
        font-size:24px;
    }

    address{
        display:flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 1rem;
    }
}

@media screen and (max-width: 706px){
    html{
        font-size:17px;
    }

    address{
        display:flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 1rem;
    }
}

@media screen and (max-width: 506px){
    html{
        font-size:12px;
    }

    address{
        display:flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 1rem;
    }
}

@media screen and (max-width: 352px){
    html{
        font-size:10px;
    }

    address{
        display:flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 1rem;
    }
}
